nodes:
{% for master in groups['masters'] %}
- address: {{ master }}
  user: vagrant
  role:
  - controlplane
  - etcd
{% endfor %}
{% for worker in groups['workers'] %}
- address: {{ worker }}
  user: vagrant
  role:
  - worker
{% endfor %}

services:
  etcd:
